include ../../mixin/_picture
section.p-archive-title
  .p-archive-title__inner
    .p-archive-title-main
      h2.c-h2-title.c-h2-title--green
        span
          span.c-h2-title__main
            <span>I</span>nformation<br class="sp"> 
            span.c-h2-title__sub お知らせ一覧