section.p-art
  .p-art__inner.section-inner
    h2.c-h2-title.c-h2-title--green
      span
        span.c-h2-title__main
          <span>A</span>rt
          span.c-h2-title__sub アート
    .p-art__contents
      .p-art__ashirai Art&amp;Forest <span class="text-sub-color">Ryu-nan</span>
      .p-art__img
        img(src=imgPath + 'img-art.png', alt="アート")
    .p-art__text-wrap
      p.p-art__text ひとりの人の中には、いろいろな「自分」が存在します。<br>正解はひとつではないように、本当の「自分」もひとつではありません。
      p.p-art__text さまざまな出会いや役割の中で、自身の多様さのすべてを包含しながら、<br>多面的で流動的な、新しい「自分」を開放（＝解放）していくのです。