section.p-art.bg02
  .p-art__inner.section-inner
    h2.c-h2-title.c-h2-title--green
      span
        span.c-h2-title__main
          <span>A</span>rt
          span.c-h2-title__sub アート
    .p-art__contents.js-fadeUpTrigger
      .p-art__ashirai.pc.js-fadeUpItem Art&amp;Forest <span class="text-sub-color">Ryu-nan</span>
      .p-art__img.js-fadeUpItem
        img(src=imgPath + 'img-art.png', alt="アート")
    .p-art__text-wrap
      p.p-art__text.js-fadeUpSingle ひとりの人の中には、いろいろな<br class="sp">「自分」が存在します。<br>正解はひとつではないように、<br class="sp">本当の「自分」もひとつではありません。
      p.p-art__text.js-fadeUpSingle さまざまな出会いや役割の中で、<br class="sp">自身の多様さのすべてを包含しながら、<br class="sp">多面的で流動的な、新しい「自分」を<br class="sp">開放（＝解放）していくのです。