include ../../mixin/_picture
section.p-archive
  .p-archive__inner.section-inner
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
    article.p-archive-card
      a(href="#").p-archive-card__link
        .p-archive-card__img
          +webpImg('','img-tenant01','png','お知らせ1',true)
        .p-archive-card__contents
          .p-archive-card__date 2022年8月2日
          h2.p-archive-card__text Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！Webサイトを公開しました！
