section.p-facility#facility
  .p-facility__inner
    .p-facility__title-wrap
      h2.c-h2-title.c-h2-title--white
        span
          span.c-h2-title__main
            <span>F</span>acility
            span.c-h2-title__sub 施設案内
      .p-facility__sub-title 創造と解放の場所
    .p-facility__button
      include ../component/c_btn_1