section.p-forest.bg03
  .p-forest__inner.section-inner
    h2.c-h2-title.c-h2-title--green
      span
        span.c-h2-title__main
          <span>F</span>orest
          span.c-h2-title__sub フォレスト
    .p-forest__contents
      .p-forest__ashirai.pc Art&amp;Forest <span class="text-sub-color">Ryu-nan</span>
      .p-forest__img
        img(src=imgPath + 'img-forest.png', alt="フォレスト")
    .p-forest__text-wrap
      p.p-forest__text ひとつだけの「自分」ではなく、<br class="sp">さまざまな「自分」を受け入れ、<br class="tab">育ててくれる森。
      p.p-forest__text 人がどんな状態で森に入ろうと、さまざまな状況や<br class="sp">他者との関係性の中で、<br class="tab">また自然とのつながりを<br class="sp">通じて「自分」が調和していきます。
      p.p-forest__text それぞれの「自分」に応じた<br class="sp">新しい発見や、成長を促していくことが<br class="sp">できる、<br class="tab">創造と開放の場所なのです。