section.fv 
  .container 
    .text_wrap 
      h1.title TEEFUL対策はEngress 
      p.sub_title 日本人へのTOEFUL指導豊かな講師陣の<br>コーチング型TEEFULスクール
      .btn_wrap 
        a.btn.btn--yellor(href="#") 資料請求 
        a.text_link(href="#") お問い合わせ 