section.p-place
  .p-place__inner.section-inner
    .p-place__title
      h2.p-place__main-title
        span.text-sub-color art&amp;forest
        span.text-main-color Ryu-nan
      span.p-place__sub-title 創造と解放の場所
    .p-place__contents
      p.p-place__text わたしたちは森で繋がっていく。<br>ひとりのとき、ふたりのとき、みんなでいるとき。<br>森は、命を生み出し、<br>心を、身体を、再生してくれる。<br>集まり、離れ、包まれ、放たれる。<br>そう、わたしたちは森で生きていく。
      .p-place__img
        img(src=imgPath + 'img-art&forest.png', alt="Art&Forest Ryu-nan")
    .p-place__illust
      img(src=imgPath + 'img-ashirai.png', alt="イラスト")