section.p-tenant
  .p-tenant__inner
    h2.c-h2-title.c-h2-title--green
        span
          span.c-h2-title__main
            <span>T</span>enant
            span.c-h2-title__sub テナント
    .p-tenant__card-wrap
      a(href="#").p-tenant-card
        .p-tenant-card__img
          img(src=imgPath + 'img-tenant01.png', alt="テナント1")
        .p-tenant-card__contents
          p.p-tenant-card__title futsal
          p.p-tenant-card__button
            span view more
      a(href="#").p-tenant-card
        .p-tenant-card__img
          img(src=imgPath + 'img-tenant02.png', alt="テナント2")
        .p-tenant-card__contents
          p.p-tenant-card__title shop
          p.p-tenant-card__button
            span view more
      a(href="#").p-tenant-card
        .p-tenant-card__img
          img(src=imgPath + 'img-tenant03.png', alt="テナント3")
        .p-tenant-card__contents
          p.p-tenant-card__title cafe
          p.p-tenant-card__button
            span view more
    