include ../../mixin/_picture

section.p-tenant#tenant
  .p-tenant__inner
    h2.c-h2-title.c-h2-title--green
        span
          span.c-h2-title__main
            <span>T</span>enant
            span.c-h2-title__sub テナント
    .p-tenant__card-wrap
      a(href="#").p-tenant-card
        .p-tenant-card__img
          +webpImg('','img-tenant01','png','テナント1',true)
        .p-tenant-card__contents
          p.p-tenant-card__title futsal
          p.p-tenant-card__button
            span view more
      a(href="#").p-tenant-card
        .p-tenant-card__img
          +webpImg('','img-tenant02','png','テナント2',true)
        .p-tenant-card__contents
          p.p-tenant-card__title shop
          p.p-tenant-card__button
            span view more
      a(href="#").p-tenant-card
        .p-tenant-card__img
          +webpImg('','img-tenant03','png','テナント3',true)
        .p-tenant-card__contents
          p.p-tenant-card__title cafe
          p.p-tenant-card__button
            span view more
    