extend layouts/_default
append value
  - const title = "創造と解放の場所 | Art&Forest Ryu-nan";
  - const description = "トップページのディスクリプション";
  - const keywords = "キーワード,キーワード2,キーワード3";
  - const path = ".";
  - const location = "top";

block header
  include components/project/p_fv
  include components/layout/l_header

block main
  main 
    include components/project/p_main
    include components/project/p_place
    include components/project/p_art
    include components/project/p_forest
    include components/project/p_share

block footer
  include components/layout/l_footer