extend layouts/_default
append value
  - const title = "創造と解放の場所 | Art&Forest Ryu-nan";
  - const description = "トップページのディスクリプション";
  - const keywords = "キーワード,キーワード2,キーワード3";
  - const path = ".";
  - const location = "top";

block header
  include components/layout/l_header
  include components/component/c_btn_1
  include components/component/c_btn_2

block main
  main 
    include components/project/p_fv
    include components/project/p_problem

block footer
  include components/layout/l_footer