@use '../../global/' as g;

// セクションタイトル
.c-h2-title {
  font-weight: normal;
  text-align: center;
}
.c-h2-title > span {
  display: inline-flex;
  padding-bottom: g.fz(17);
  padding-left: g.fz(3);
  padding-right: g.fz(3);
  @include g.mq(md,max) {
    padding-left: 0;
    padding-right: 0;
  }
}
.c-h2-title__main {
  font-size: g.fz(32);
  letter-spacing: .15em;
}
.c-h2-title__sub {
  font-size: g.fz(14);
  margin-left: g.fz(7);
  position: relative;
  top: g.fz(-6);
  letter-spacing: .15em;
}
.c-h2-title--green > span {
  border-bottom: 2px solid g.$main-color;
}
.c-h2-title--green > span > span > span {
  color: g.$main-color;
}
.c-h2-title--white {
  color: g.$white;
}
.c-h2-title--white > span {
  border-bottom: 2px solid g.$white;
}