h2.c-h2-title.c-h2-title--green
  span
    span.c-h2-title__main
      <span>A</span>rt
      span.c-h2-title__sub アート
h2.c-h2-title.c-h2-title--white
  span
    span.c-h2-title__main
      <span>A</span>rt
      span.c-h2-title__sub アート