footer.l-footer.p-footer
  .p-footer__inner
    .p-footer__logo
      img(src=imgPath + 'logo-black.png', alt="ART&FOREST RYUNAN")
    .p-footer__text-wrap
      p.p-footer__text 〒420-0804 <br class="sp">静岡市葵区竜南1丁目25−192−1
      p.p-footer__text 平日／9：00～22：00　<br class="sp">土日祝／8：30～23：00
    ul.p-footer__menu
      li.p-footer__item
        a(href="#") ブライバシーポリシー
      li.p-footer__item
        a(href="#") お問合せ
    p.p-footer__copy Copyright &copy; Art &amp; Forest Ryu-nan. <br class="sp">All rights reserved.