header.l-header.p-header
  .p-header__inner.section-inner
    h2.p-header__logo
      img(src=imgPath + 'logo-black.png', alt="Art&Forest Ryu-nan")
    nav.p-header__nav.p-header-nav
      ul.p-header-nav__wrapper
        li.p-header-nav__item
          a.p-header-nav__link(href="#") concept
        li.p-header-nav__item
          a.p-header-nav__link(href="#") information
        li.p-header-nav__item
          a.p-header-nav__link(href="#") tenant
        li.p-header-nav__item
          a.p-header-nav__link(href="#") 施設概要
        li.p-header-nav__item
          a.p-header-nav__link(href="#") お問合せ

