header.header
  .logo
    img.logo__img(src=imgPath + "logo.png", alt="ロゴ")
  nav 
    ul.nav 
      li.nav__item 
        a.nav__link(href="#") ホーム
      li.nav__item 
        a.nav__link(href="#") お知らせ
      li.nav__item 
        a.nav__link(href="#") ブログ
      li.nav__item 
        a.nav__link(href="#") コース・料金
  .header_right
    .text_wrap 
      span 平日08:00〜20:00
      p.phone_number 0123-456-789
    .btn_wrap 
    a.btn.btn--yellow(href="#") 資料請求
    a.btn.btn--blue(href="#") お問い合わせ 

    h2.c-h2-title
      span
        span.c-h2-title__main <span class="c-h2-title--green">A</span>rt
        span.c-h2-title__sub アート
    h2.c-h2-title
      span
        span.c-h2-title__main <span class="c-h2-title--green">F</span>orest
        span.c-h2-title__sub フォレスト
      
