@use '../../global/' as g;

// ファーストビュー
.p-fv__inner {
  position: relative;
}
.p-fv__logo {
  max-width: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  @include g.mq(md,max) {
    max-width: 100px;
  }
}
.p-fv-slide__inner {
  overflow: hidden;
}
.p-fv-slide__item.swiper-slide img {
  @include g.mq(md) {
    height: 900px;
    object-fit: cover;
  }
}