@use '../../global/' as g;
// Facility（施設案内）
.p-facility__inner {
  padding-top: g.fz(210);
  padding-bottom: g.fz(166);
  background: url(../img/bg-facility.png) no-repeat center / cover;
  @include g.mq(md,max) {
    padding-top: g.fz(95);
    padding-bottom: g.fz(82);
    background: url(../img/bg-facility-smp.png) no-repeat center / cover;
  }
}
.p-facility__title-wrap {
  display: flex;
  justify-content: center;
  align-items: start;
  // あとで消すかも
  margin-left: clamp(1.875rem, -0.2679rem + 4.4643vw, 3.75rem);
  @include g.mq(md,max) {
    flex-direction: column;
    margin-left: 0;
    align-items: center;
  }
}
.p-facility__sub-title {
  font-size: g.fz(24);
  letter-spacing: 1.3em;
  text-indent: 1.3em;
  color: g.$white;
  font-weight: lighter;
  margin-left: g.fz(32);
  margin-top: g.fz(10);
  @include g.mq(md,max) {
    font-size: g.fz(16);
    letter-spacing: .8em;
    text-indent: .8em;
    margin-left: initial;
    margin-top: g.fz(17);
  }
}
.p-facility__button {
  margin-top: g.fz(48);
  @include g.mq(md,max) {
    margin-top: g.fz(44);
  }
}