@use '../../global/' as g;
// スマホヘッダー
.p-header-sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  // background: g.$white;
}
.p-header-sp-menu.--clear {
  background: none;
}
.p-header-sp-menu.--clear .p-header-sp-menu__logo {
  opacity: 0;
  visibility: hidden;
}
.p-header-sp-menu__logo {
  max-width: 60px;
}
.p-header-sp-menu__hamburger {
  z-index: 100;
}
.p-header-sp-menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: g.fz(26);
  padding-bottom: g.fz(26);
}
.p-header-sp-nav__link {
  letter-spacing: .2em;
  text-transform: capitalize;
  color: g.$text-color;
  padding-top: g.fz(29);
  padding-bottom: g.fz(29);
  display: block;
  text-align: center;
}
.p-header-sp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color: #EEECDA, $alpha: 1);
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in;
}
// ハンバーガーメニューがクリックされた時
.p-header-sp.--active {
  opacity: 1;
  visibility: visible;
  transition: all .2s ease-in;
}
.p-header-sp-nav__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
