@use '../../global/' as g;

// ヘッダー
.p-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: g.fz(56);
  padding-bottom: g.fz(56);
}
.p-header__logo {
  max-width: 84px;
}
.p-header-nav__wrapper {
  display: flex;
  align-items: center;
}
.p-header-nav__item + .p-header-nav__item {
  margin-left: clamp(1.875rem, 0.2321rem + 3.4226vw, 3.3125rem);
}
.p-header-nav__link {
  letter-spacing: .21em;
  text-transform: capitalize;
  color: g.$text-color;
}
#js-fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
#js-fixed-header.--active {
  transition: all .2s ease-in;
  visibility: visible;
  opacity: 1;
}